@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Work+Sans&display=swap');
html,body{
    height: 50%;
    width: 80%;
    font-family: 'Poppins', cursive;
font-family: 'Work Sans', cursive;
/* margin: 1px;padding: 1px; */
 background: white; 
}

.left img{
    height: 35px;
    width: 105px;
    
}

.container{
    /* margin: auto; */
    padding: 10px 12vw;
}
.containerheader{
   
    padding: 10px 12px;
}
nav ul li{
    list-style-type: none;
    padding: 0 15px;
    




.rightbox{
    display: flex;
    margin: 12px;
    background color: black;
}
@media(max-width:1000px)
{
    header{
        height: 137pxpx;
    }
    .img-x{
        
        height: 30vh;
         width: 12vw; 
        margin: auto;
        border-radius: 25px;
    }
    nav{
    flex-direction: column;
    align-items: center;
    }
    header{
    position: relative;
    top: 1;
    background: white;
    box-shadow: rgba(1, 0, 0, 0.24) 0px 3px 8px;
}
    .right{
    flex-direction: column;
    }
    .rightbox{
        display: flex;
        
        margin: 12px;
    }
    nav ul li{
/*         list-style: none; */
        padding: 1;
        margin: 0px 20px;
    }
    .containerheader{
        padding: 0px 12px;
    }

    .left img {
        height: 35px;
        width: 22px;
    }
    .section2{
        flex-wrap: wrap;

    }
}
.desktopsearchbar{
    width: 22vw;
    padding: 3px 17px;
    border-radius: 7px;
  
}

.homeimg{
    width: 76vw;
    margin: 32px 0px;
    cursor: pointer;
}
.img1{
    width: 76vw;
    cursor: pointer;
    height:auto
}
.img8{
   
    height: 17vh;
}
footer{
    margin: 12px 0px;
    padding:23px;
    text-align: center;
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}
