@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Work+Sans&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
margin: 0;padding: 0;
/* background: white; */
}

.left img{
    height: 35px;
    width: 105px;
    
}

.container{
    /* margin: auto; */
    padding: 0px 12vw;
}
.containerheader{
   
    padding: 0px 12vw;
}
nav ul li{
    list-style-type: none;
    padding: 0 15px;
    




.rightbox{
    display: flex;
    margin: 12px;
    background color: black;
}
@media(max-width:1000px)
{
    header{
        height: 137pxpx;
    }
    .img-x{
        height: 30vh;
        /* width: 12vw; */
        margin: 0px 5px;
        border-radius: 20px;
    }
    nav{
    flex-direction: column;
    align-items: center;
    }
    header{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    .right{
    flex-direction: column;
    }
    .rightbox{
        display: flex;
        
        margin: 12px;
    }
    nav ul li{
        list-style: none;
        padding: 0;
        margin: 0px 2px;
    }
    .containerheader{
        padding: 0px 12px;
    }

    .left img {
        height: 35px;
        width: 22px;
    }
    .section2{
        flex-wrap: wrap;

    }
}
.desktopsearchbar{
    width: 22vw;
    padding: 3px 17px;
    border-radius: 7px;
    background: #f2ebf45c;
}

.homeimg{
    width: 76vw;
    margin: 32px 0px;
    cursor: pointer;
}
.img1{
    width: 76vw;
    cursor: pointer;
    height:auto
}
.img8{
    width: 98vw;
    height: 17vh;
}
footer{
    margin: 12px 0px;
    padding:23px;
    text-align: center;
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}
