.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: lowercase;
}
.semibold{
    font-weight:500;
}
.space-between{
    justify-content: space-between;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
    font-weight: 400;
}
.img-x{
    height: 30vh;
    width: 120vw;
    margin: 0px 50px;
    border-radius: 20px;
}
.section2{
    color:black;
    margin: 20px 0px;
}
/* .section3{
    overflow: hidden;
} */
